
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #1e1e2f;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
}

.menu-item > p {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
  font-weight: bold;
}

.menu-item > p:hover {
  background-color: #2c2c44;
}

.submenu {
  margin-left: 10px;
  display: none;
}

.submenu a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
}

.submenu a:hover {
  background-color: #444;
  color: #ffb74d;
}

.conteudo {
  margin-left: 240px;
  padding: 20px;
}

.page{
  display: flex;
}

