<div class="container" th:fragment="conteudo">

    <h2>Cadastrar Item da Bomboniere</h2>

    <form action="#" th:action="@{/api/bomboniere}" th:object="${itemBomboniere}" method="post">

        <div class="campo">
            <label>Descrição:</label>
            <input type="text" th:field="*{nome}" maxlength="50" required>
        </div>

        <div class="campo">
            <label>Preço:</label>
            <input type="number" step="0.01" min="0" th:field="*{preco}" required>
        </div>

        <button type="submit" class="btn">Salvar</button>
    </form>

</div>