
<main th:fragment="conteudo">
    <div class="vendas-container w-100">

        <div class="filmes-grid d-flex">
       
            <div class="card" style="width: 18rem;">
            <div th:each="filme : ${Filmes}" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="${filme.getKey().nome}"></h5>
                <div class="d-flex justify-content-around">
                    <div class="card-text" th:text="${filme.getKey().precoIngresso}"></div>
                    <div class="card-text" th:text="${filme.getKey().duracao}"></div>                    
                </div>

                <label for="sessao-horarios">Selecione o horário:</label>
                <select id="sessao-horarios" name="sessao-horarios">
                    <option value="14:00">14:00</option>
                    <option value="16:30">16:30</option>
                    <option value="19:00">19:00</option>
                    <option value="21:30">21:30</option>
                </select>
                <div class="mb-3">
                    <label for="qtd" class="form-label">Qtd:</label>
                    <input type="number" class="form-control" id="qtd" aria-describedby="qtd" min="0">
                </div>
                <button class="btn-comprar">Comprar Ingresso</button>
            </div>
        </div>

        </div>

        

    </div>
</main>

